
a{
    text-decoration: none;
    cursor: auto;
    color: #000;
}
a.hover{
    text-decoration: underline;
}
body{
    background: #eee;
    font: 14px/1.6em "微软雅黑", "Microsoft Yahei", "Droid Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
}
div{
    display: block;
}
#header h1{
    margin: 0;
    text-align: center;
    padding: 50px 0;
}
#header{
    position: relative;
    top: 0;
    border: 0;
    padding: 0 30px;
    margin: 0;
}
#content .inner{
    background: #fff;
    padding: 20px;
    margin: 40px;
    box-shadow: 1px 2px 3px #ddd;
}